*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/*configurando fonte*/
body {
    font-family: 'Open Sans', sans-serif;
}
/* estilo do topo da pagina */
.topo {
    background: rgb(213,23,174);
    background: linear-gradient(90deg, rgba(213,23,174,0.8607908576051779) 0%, rgba(193,23,213,0.9805319579288025) 26%, rgba(95,126,229,1) 64%, rgba(3,222,244,0.8931533171521036) 88%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 30px 400px;
}

#titulo {
    color: #ffff;
}

#subtitulo {
    font-weight: 300;
    color: #CAC9C9;
}

#descricao {
    font-weight: 600;
    color: #6B6A6A;
    padding: 20px;
}

#desenvolvido {
    background-color: #5f7ee5;
    font-weight: 500;
    color: #ffffff;
    padding: 20px;
}
/* estilizando do principal conteudo da pagina */
.corpo-texto {
    width: 150%;
    height: 380px;
    font-weight: 400;
    margin-bottom: 60px;
}

.sobre-mim {
    padding-top: 15px;
}
/* organizando as divs lateralmente*/
#caixa-esquerda {
    float: left;
    width: 40%;
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 80px;
    font-weight: 400;
}

#contato-titulo {
    display: flex;
    padding-top: 40px;
    justify-content: center;
    font-weight: 700;
    background-color: #5f7ee5;
    color: #ffffff;
}

/* aplicando estilo no rodape*/
#rodape {
    display: flex;
    padding: 40px 0;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #5f7ee5;

}

/*mudando as cores dos icones do rodape*/
.fa-linkedin {
    color: #0c2ef5;
}

.fa-github-square {
    color: #0c2ef5;
}

.fa-envelope {
    color: #0c2ef5;
}